/.idea/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/app/SymfonyRequirements.php
/app/check.php
/web/css/*
/web/js/*
*.DS_Store
/build/*