<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">

    <testsuites>
        <testsuite name="Shopify">
            <directory>tests/Shopify</directory>
            <directory>./src/*/*Bundle/Tests</directory>
            <directory>./src/*/Bundle/*Bundle/Tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_DIR" value="./tests/app" />
    </php>

    <!--
    <groups>
        <exclude>
            <group>integration</group>
            <group>performance</group>
        </exclude>
    </groups>
    -->
    <!--
    <logging>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false" />
    </logging>
    -->

    <filter>
        <whitelist>
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory>./src/*/*Bundle/Resources</directory>
                <directory>./src/*/*Bundle/Tests</directory>
                <directory>./src/*/Bundle/*Bundle/Resources</directory>
                <directory>./src/*/Bundle/*Bundle/Tests</directory>
                <directory suffix="Interface.php">./src/Shopify/Tests</directory>
                <directory suffix="Exception.php">./src/Shopify/Tests</directory>
                <directory>./src/Shopify/Tests/**/Enum</directory>
                <directory>./src/Shopify/Tests/**/Resources</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
