{% extends '::base.html.twig' %}
{% block content %}

    <div class="master-blaster">
        <h1>{% trans %}Nothing to see here{% endtrans %}</h1>
        <p class="lead">{% trans %}Move along please...{% endtrans %}</p>
    </div>

{% endblock %}