{% extends '::base.html.twig' %}
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>{% trans %}App Preferences!{% endtrans %}</h1>
            <p>{% trans %}These are the app preferences.{% endtrans %}</p>
        </div>
    </div>

{% endblock %}